# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Database
*.sqlite3

# /data

# Static files
/static/

# Media files
/media/

# Virtual environment
venv/
.env

# IDE
.vscode/
.idea/

# Compiled Python files
*.pyc

# Dependency directories
venv/
node_modules/

# Testing
.coverage
.pytest_cache/

# Ignore migrations
**/migrations/


